<div class="bg-image" style="background-image: url('https://media.istockphoto.com/id/1269109174/vector/watercolor-background-abstract-pastel-color-gradient-with-soft-texture.jpg?s=612x612&w=0&k=20&c=G4z8WfngYdUnRYDZTss15iJEUxixUqHS2ePVczMB0x8='); height: 100vh; width: 100vw;">   

    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <h1 class="text-dark">Employee Login</h1>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                      <label for="" class="form-label">User Name</label>
                        <input name="username" [(ngModel)]="username" type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Password</label>
                        <input name="password" [(ngModel)]="password" type="password"  id="" class="form-control">
                    </div>
                   
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <button class="btn btn-success" (click)="readValues()">Login</button>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                        <a routerLink="/">click here for admin login</a>
    
                    </div>
                    

                   </div>
            </div>
        </div>
    </div>

